
/* Grid */
.outer-grid {
	display: grid;
	/* size is adjusted in realtime */
	grid-gap: 2px;
	background-color: #191919;
	padding: 5px;

}

.outer-grid>div {
	text-align: center;
	padding: 10px 0;
	font-size: 30px;
}

.left-pane {
	background-color: #fae895;

}

.left-pane label:after {
  content: "";
  clear: both;
  display: table;
}
.left-pane label:before {
  content: "";
  clear: both;
  display: table;
}

.middle-pane {
	background-color: #80c6ed;

}

/* inner grid goes into right pane */
.right-pane {
	background-color: #fae895;

}

/* no resize on text area inputs */
.tfield {
	resize: none;
}


/* .grid-container is muuri ... /


/* Board */

section {
	max-width: unset;
	width: 100%;
	margin: unset;
}

/* Section titles */

.section-title {
  color: #3e3e3e;
  font-size: 26px;
  font-weight: 700;
  margin: 10px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}
.section-title > span {
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.section-title > span:after {
  content: "";
  display: block;
  position: absolute;
  left: 10px;
  bottom: 0;
  right: 10px;
  height: 2px;
  background: #e6e6e6;
}


.board {
  position: relative;
  margin-left: 1%;
}
/* width of column must be adjusted according to number of cols */
.board-column {
  position: absolute;
  left: 0;
  right: 0;
/*  width: 19%; */
  margin: 0 .3%;
  background: #e6e6e6;
  border-radius: 3px;
  z-index: 1;
}
.board-column.muuri-item-releasing {
  z-index: 2;
}
.board-column.muuri-item-dragging {
  z-index: 3;
  cursor: move;
}
.board-column-header {
  position: relative;

	border-radius: 4px;
	font-weight: bold;
	color: #191919;
	margin-top: 5px;
	text-align: center;
	cursor: pointer;
	font-size: .8em !important;
	height: unset; 
	line-height:1.2em !important;
	width: 100%;
	border: 3px solid #272a34;
	background: #fae895;
	display: block;
	text-transform: capitalize;
	overflow:hidden;
	margin: unset !important;
	padding: unset !important;

}

.board-column-content {
  position: relative;
  border: 10px solid transparent;
  min-height: 95px;
  background-color: #e6e6e6

}
.board-item {
  position: absolute;
  width: 100%;
  margin: 5px 0;
  overflow:hidden;
  background-color: #e6e6e6;

}
.board-item.muuri-item-releasing {
  z-index: 9998;
}
.board-item.muuri-item-dragging {
  z-index: 9999;
  cursor: move;
}
.board-item.muuri-item-hidden {
  z-index: 0;
}
.board-item-content {
  position: relative;
  padding: 15px 5px 5px 5px;
  background: #fff;
  border-radius: 2px;
  font-size: 17px;
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2);
  box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2);
/*  max-height: 200px;*/

}

h3 {
    border-radius: 4px;
    font-weight: bold;
    color: #FFF;
    margin-top: 5px;
    text-align: center;
    cursor: pointer;
    font-size: .8em !important;
    height: unset; 
	line-height:1.2em !important;
    width: 100%;
    border: 3px solid #272a34;
    background: #737680;
    display: block;
    text-transform: capitalize;
	overflow:hidden;
	margin: unset !important;
	max-width: unset !important;
}

.sketch {
    border: 3px solid #272a34;
    border-radius: 4px;
	background-color:  #e6e6e6;
}

body {
	font-size: 2vw !important;
	font-family: unset !important;
	font-family: sans-serif;
	background-color:  #e6e6e6;
}

button {
    font-size: .8em !important;
    height: unset !important; /* 2em; */
	line-height:1.2em !important;
	margin: unset !important;
	max-width: 15vw !important;
}

.select-red {
    font-size: .8em !important;
    height: unset !important; /* 2em; */
	line-height:1.2em !important;
	margin: unset !important;
	max-width: 15vw !important;
    cursor: pointer;
    padding-right: 40px;
    text-align-last: center;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOSIgaGVpZ2h0PSIxOSIgeD0iMCIgeT0iMCIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgMTkgMTkiIHhtbDpzcGFjZT0icHJlc2VydmUiPgogPGcgdHJhbnNmb3JtPSJtYXRyaXgoMC4wMzM5MjgzNiwwLDAsMC4wMzM5MjgzNiwtNi43ODU2NTUyLDEuNjk2NzE2M2UtNSkiPgogIDxwYXRoIGQ9Ik0gNDgwLDM0NC4xODEgMjY4Ljg2OSwxMzEuODg5IGMgLTE1Ljc1NiwtMTUuODU5IC00MS4zLC0xNS44NTkgLTU3LjA1NCwwIC0xNS43NTQsMTUuODU3IC0xNS43NTQsNDEuNTcgMCw1Ny40MzEgbCAyMzcuNjMyLDIzOC45MzcgYyA4LjM5NSw4LjQ1MSAxOS41NjIsMTIuMjU0IDMwLjU1MywxMS42OTggMTAuOTkzLDAuNTU2IDIyLjE1OSwtMy4yNDcgMzAuNTU1LC0xMS42OTggTCA3NDguMTg2LDE4OS4zMiBjIDE1Ljc1NiwtMTUuODYgMTUuNzU2LC00MS41NzEgMCwtNTcuNDMxIC0xNS43NTYsLTE1Ljg2IC00MS4yOTksLTE1Ljg1OSAtNTcuMDUxLDAgeiIvPgogPC9nPgo8L3N2Zz4K) no-repeat right 10px center #FFF;
	color: #fff;
    background-color: #fd3535;
    border-color: #191919;
}

.select-blue {
    font-size: .8em !important;
    height: unset !important; /* 2em; */
	line-height:1.2em !important;
	margin: unset !important;
	max-width: 15vw !important;
    cursor: pointer;
    padding-right: 40px;
    text-align-last: center;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOSIgaGVpZ2h0PSIxOSIgeD0iMCIgeT0iMCIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgMTkgMTkiIHhtbDpzcGFjZT0icHJlc2VydmUiPgogPGcgdHJhbnNmb3JtPSJtYXRyaXgoMC4wMzM5MjgzNiwwLDAsMC4wMzM5MjgzNiwtNi43ODU2NTUyLDEuNjk2NzE2M2UtNSkiPgogIDxwYXRoIGQ9Ik0gNDgwLDM0NC4xODEgMjY4Ljg2OSwxMzEuODg5IGMgLTE1Ljc1NiwtMTUuODU5IC00MS4zLC0xNS44NTkgLTU3LjA1NCwwIC0xNS43NTQsMTUuODU3IC0xNS43NTQsNDEuNTcgMCw1Ny40MzEgbCAyMzcuNjMyLDIzOC45MzcgYyA4LjM5NSw4LjQ1MSAxOS41NjIsMTIuMjU0IDMwLjU1MywxMS42OTggMTAuOTkzLDAuNTU2IDIyLjE1OSwtMy4yNDcgMzAuNTU1LC0xMS42OTggTCA3NDguMTg2LDE4OS4zMiBjIDE1Ljc1NiwtMTUuODYgMTUuNzU2LC00MS41NzEgMCwtNTcuNDMxIC0xNS43NTYsLTE1Ljg2IC00MS4yOTksLTE1Ljg1OSAtNTcuMDUxLDAgeiIvPgogPC9nPgo8L3N2Zz4K) no-repeat right 10px center #FFF;
	color: #fff;
    background-color: #5e95f3;
    border-color: #191919;
}

.blue-button {
    background-color: #5e95f3;
    border-color: #191919;
}

.green-button {
    background-color: #24aa6e;
    border-color: #191919;
}

.red-button {
    background-color: #fd3535;
    border-color: #191919;
}


.label {
	clear:both;
}

textarea {
	font-size: 3vw;
	width: 100%;
	height: 40vh;
}

.textitem {
	margin: 5px 0 !important;
	font-size: 1.2em !important;
	line-height: 1.2em !important;
}

/* put modal in middle of window **
** the actual modal content goes into modal content
** which has a relative position
*/
.modal {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255,.8);
        opacity: 0;
        visibility: hidden;
        transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
        font-family: sans-serif;
}
.modal-content {
        position: absolute;
		/* width: 80%; */
		width: 75%;
		max-height:100%;
        top: 0;
        left: 12%;
        background-color: #e6e6e6;
        padding: 1rem 1.5rem;
        border-radius: 0.5rem;
}

.modal-button {
	max-width:10% !important; 
}

.modal-shown {
		z-index: 999;
        opacity: 1;
        visibility: visible;
        transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}


/*
muuri-item-shown:hover {
	transform: scale(5) !important;
}
*/

@media (max-width: 600px) {
  .board-item-content {
    text-align: center;
  }
  /* unclear why this was set to display none. If none, will hide zoom/delete buttons **
  .board-item-content span {
    display: none;
  }
 */
}
