.outer-grid {
	display: grid;
	/* size is adjusted in realtime */
	grid-gap: 5px;
	background-color: #eee;
	padding: 10px;

}

.outer-grid>div {
	text-align: center;
	padding: 10px 0;
	font-size: 30px;
}

.left-pane {
	background-color: #eaa;

}

.left-pane label:after {
  content: "";
  clear: both;
  display: table;
}
.left-pane label:before {
  content: "";
  clear: both;
  display: table;
}

.middle-pane {
	background-color: #aae;

}

/* inner grid goes into right pane */
.right-pane {
	background-color: #aea;

}

/* no resize on text area inputs */
.tfield {
	resize: none;
}


/* .grid-container is muuri ... /

